{% set scriptSrc= absolute_url(asset('build/socket-chat.js')) %}
{% set script='<script data-socket-chat type="text/javascript" src="'~scriptSrc~'?id='~ tempSiteId ~'"></script>' %}
{% set body='</body>' %}
<ol>
    <li>{{ 'demo.developper.insert'|trans }}
        <br><code>{{ script }}</code><br>
        {{ 'demo.developper.all_page'|trans }}
        <code>{{ body }}</code>
    </li>
    <li>{{ 'demo.developper.open_page'|trans }}</li>
    <li>{{ 'demo.developper.back_start'|trans }}</li>
</ol>
<div id="accordion-developper">

    <div class="card">
        <div class="card-header" id="accordion-question-1">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                    Before to do that what will really happen ?
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="accordion-question-1"
             data-parent="#accordion-developper">
            <div class="card-body">
                Explanation here
            </div>
        </div>
    </div>

    <div class="card-header" id="accordion-question-2">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo">
                Can I use this script on multiple websites ?
            </button>
        </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="accordion-question-2" data-parent="#accordion-developper">
        <div class="card-body">
            Explanation here
        </div>
    </div>
</div>
<button type="button" data-ajax-call="{{ path('ajax_access_dashboard') }}" data-ajax-href="{{ path('dashboard') }}"
        class="btn btn-primary btn-lg btn-block">{{ 'word.start'|trans }} !
</button>