<!doctype html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
    {#Google localized versions#}
    {% set available_locale = available_locale|split('|') %}
    {% set route = app.request.attributes.get('_route') %}
    {% for locale in available_locale %}
        <link rel="alternate" hreflang="{{ locale }}" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}"/>
    {% endfor %}
    {#Google localized versions#}
</head>
<body {% block idBody %}{% endblock %}>
<div style="display: none" id="full-loader" class="loading">Loading&#8230;</div>
{{ include('view/header_nav.html.twig') }}
<div id="flash-messages">
    {% for class, message in app.flashes %}
        <div class="alert alert-{{ class }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% if message.0.title is defined %}
                <h4 class="alert-heading">{{ message.0.title }}</h4>
            {% endif %}
            {% if message is iterable %}
                {% for m in message %}
                    {% if m is iterable %}
                        <p>{{ m.message }}</p>
                    {% else %}
                        <p>{{ m }}</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>{{ message }}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
<div class="container">
    {% block body %}{% endblock %}
</div>
<script src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
